.page {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #ede1c7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: hidden;
  }

  .page:nth-child(odd){
    padding: 0px 30px;
  }

  .page:nth-child(even){
    padding: 0px 30px;
  }

  /* .page:nth-child(even) .page-content{
    flex-direction: column-reverse;
  } */
  
  .page-cover {
    /* background-color: #2196f3; */
    color: #ffffff;
  }
  
  .page-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: start; */
    height: 100%;
    padding: 10px;
  }
  
  .page-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .page-image {
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 10px;
  }
  
  .page-footer {
    font-size: 14px;
    color: #000;
    margin-bottom: 0px;
  }
  
  .title{
    display: block;
    text-align: left !important;
  }

@media(max-width:767px){
    .page{
        padding-left: 20px !important;
    }

    .stf__parent{
      /* min-height: 100vh !important; */
      /* height: 100vh !important; */
      width: 97vw !important;
    }

    .page.stf__item.--soft.--simple.--right{
      width:97vw !important;
      /* height: 100vh !important; */
      /* left: 0 !important; */
      /* margin: 0; */
      /* top: 0 !important ; */
    }
}