/* @import url('https://fonts.cdnfonts.com/css/im-fell-english'); */
/* @font-face {
  font-family: IM Fell English;
  src: url('https://fonts.cdnfonts.com/css/im-fell-english');
} */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
*{
  padding: 0;
  font-family: 'IM Fell English' !important;
  box-sizing: border-box; 
}


body{
  padding: 0;
  /* font-family: "IM Fell English" !important;  */
  margin: 0;
}

.navLinks a.active>p{
  font-weight: 900;
}

/* .stf__item{
  margin-right: 100px;
} */

/* .stf__block .stf__item:nth-child(even){
  left: 600px !important;
} */